@{
    ViewBag.Title = "Academy of Majapahit Martial Arts Schedule";
    ViewBag.Descritpion = "Academy of Majapahit Martial Arts Class Schedule";
    ViewBag.Keywords = "Jeremiah Lovejoy, Dayton, Ohio, Kali, Eskrima, Kuntao, Silat, Martial Arts, Mande Muda, Serak, Choy Li Fut, Lameco, Bando, Muay Thai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Schedule</title>
    <style>
        .schedule {
            width: 100%;
            color: #C5C5C5;
            margin-top: 30px;
            background: #151515;
        }

            .schedule th, .schedule td {
                width: 12.5%;
                text-align: center;
                vertical-align: middle;
                padding: 15px;
            }

            .schedule tbody tr {
                border-bottom: 1px dashed #454545;
                vertical-align: middle;
            }

            .schedule .alt_row {
                background-color: #202020;
            }

            .schedule .filipino {
                background-color: #cc66ff;
                color: black;
                border-bottom: 1px solid #151515;
                border-right: 1px solid #151515;
                padding: 10px;
            }

            .schedule .openGym {
                background-color: #6699CC;
                color: black;
                border-bottom: 1px solid #151515;
                border-right: 1px solid #151515;
                padding: 10px;
            }

            .schedule .thai {
                background-color: #ff5050;
                color: black;
                border-bottom: 1px solid #151515;
                border-right: 1px solid #151515;
                padding: 10px;
            }

            .schedule .majapahit {
                background-color: #66ff66;
                color: black;
                border-bottom: 1px solid #151515;
                border-right: 1px solid #151515;
                padding: 10px;
            }

            .schedule .cimande {
                background-color: white;                
                color: black;
                border-bottom: 1px solid #151515;
                border-right: 1px solid #151515;
                padding: 10px;
            }

            .schedule .kaliSilat {
                background-color: #ffff66;                
                color: black;
                border-bottom: 1px solid #151515;
                border-right: 1px solid #151515;
                padding: 10px;
            }
            
            .schedule .traditionalSilat {
                background-color: #ff9966;                
                color: black;
                border-bottom: 1px solid #151515;
                border-right: 1px solid #151515;
                padding: 10px;
            }

            .schedule .advancedKali {
                background-color: #0099FF;                
                color: black;
                border-bottom: 1px solid #151515;
                border-right: 1px solid #151515;
                padding: 10px;
            }

            .schedule .junFan {
                background-color: #FFFF00;
                color: black;
                border-bottom: 1px solid #151515;
                border-right: 1px solid #151515;
                padding: 10px;
            }

            .schedule .thaiBoxing {
                background-color: #C5C5C5;
                color: black;
                border-bottom: 1px solid #151515;
                border-right: 1px solid #151515;
                padding: 10px;
            }

            .schedule .dirtyBoxing {
                background-color: #FF0000;
                color: black;
                border-bottom: 1px solid #151515;
                border-right: 1px solid #151515;
                padding: 10px;
            }

            .schedule .fourthFriday {
                background-color: white;
                color: black;
                border-bottom: 1px solid #151515;
                border-right: 1px solid #151515;
                padding: 10px;
            }

            .schedule .black {
                background-color: #000;
                color: #FFF;
                border-bottom: 1px solid #151515;
                border-right: 1px solid #151515;
                padding: 10px;
            }

            .schedule td a {
                display: block;
                color: black;
                font-weight: bold;
                margin-bottom: 2px;
            }
            
            .schedule.small {
                background: transparent;
                font-size: 11px;
                margin-top: 0;
                padding-top: 0 !important;
            }
    </style>
</head>

<body>
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Schedule</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row service-wrapper-row">
                <div class="col-sm-12">
                    <table class="schedule" border="1">
                        <tbody>
                            <tr>
                                <td>Monday</td>
                                <td>Tuesday</td>
                                <td>Wednesday</td>
                                <td>Thursday</td>
                                <td>Friday</td>
                                <td>Saturday</td>
                            </tr>
                            <tr class="alt_row">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="filipino" rowspan="2"><a title="Filipino Martial Arts" href='@Url.Action("Index", "Classes", new { id = 1 })'>Filipino Martial Arts</a>10:30 - 11:30</td>
                                <td></td>
                                <td class="thaiBoxing" rowspan="2"><a title="Thai Boxing" href='@Url.Action("Index", "Classes", new { id = 3 })'>Thai Boxing</a>10:30 - 11:30</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="alt_row">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="filipino"><a title="Filipino Martial Arts" href='@Url.Action("Index", "Classes", new { id = 1 })'>Filipino Martial Arts</a>11:30 - 12:30</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="traditionalSilat" rowspan="2"><a title="Traditional Pentjak Silat" href='@Url.Action("Index", "Classes", new { id = 6 })'>Traditional Pentjak Silat</a>12:30 - 1:30</td>
                            </tr>
                            <tr class="alt_row">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="alt_row">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="alt_row">
                                <td class="openGym" rowspan="2"><a title="Open Gym" href='@Url.Action("Index", "Classes", new { id = 5 })'>Open Gym</a> 6:00 - 7:00</td>
                                <td class="junFan" rowspan="2"><a title="Jun Fan" href='@Url.Action("Index", "Classes", new { id = 4 })'>Jun Fan JKD Kick-boxing</a> 6:00 - 7:00</td>
                                <td></td>
                                <td class="dirtyBoxing" rowspan="2"><a title="Filipino Dirty Boxing" href='@Url.Action("Index", "Classes", new { id = 2 })'>Filipino "Dirty" Boxing</a> 6:00 - 7:00</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="alt_row">
                                <td class="advancedKali" rowspan="2"><a title="Advanced Kali" href='@Url.Action("Index", "Classes", new { id = 1 })'>Kali 12 Areas (area rotates weekly)</a> 7:00 - 8:00</td>
                                <td class="majapahit" rowspan="2"><a title="Majapahit Silat" href='@Url.Action("Index", "Classes", new { id = 0 })'>Majapahit Silat</a> 7:00 - 8:00</td>
                                <td></td>
                                <td class="majapahit" rowspan="2"><a title="Majapahit Silat" href='@Url.Action("Index", "Classes", new { id = 0 })'>Majapahit Silat</a> 7:00 - 8:00</td>
                                <td class="fourthFriday" rowspan="4">
                                    Sparring
                                    <br />
                                    Drumming
                                    <br />
                                    Open Gym
                                    <br />
                                    (4th Friday of the month)
                                    <br />
                                    7:00 - 9:00
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="alt_row">
                                <td class="cimande" rowspan="2"><a title="Cimande" href='@Url.Action("Index", "Classes", new { id = 7 })'>** Cimande (Conditioning)</a>8:00</td>
                                <td class="filipino" rowspan="2"><a title="Filipino Martial Arts" href='@Url.Action("Index", "Classes", new { id = 1 })'>Filipino Martial Arts</a>8:00 - 9:00</td>
                                <td></td>
                                <td class="filipino" rowspan="2"><a title="Filipino Martial Arts" href='@Url.Action("Index", "Classes", new { id = 1 })'>Filipino Martial Arts</a>8:00 - 9:00</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>                                
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                    <h4>**Instructor approval required to take this class</h4>
                    <h4>Class, Instructor, Training Room, and Time subject to change without notice</h4>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
